{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron" id="test">
        <p> Add Domain </p>
        {{ domainformset }}

        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
    </div>

    <div class="jumbotron" id="domains">
        <h1 class="display-3">Domains</h1>
        {% for d in domains %}
            <p> {{ d.name }} </p>
            <div class="w3-light-grey">
                <div class="w3-container w3-green w3-center" style="width:40%" aria-valuemin="3" aria-valuemax="100">{{ d.point }}</div>
            </div><br>
        {% endfor %}

        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
    </div>

    <div class="jumbotron" id="subtypes">
        <h1 class="display-3">Subtypes</h1>

        {% for s in subtypes %}
            <p> {{ s.domain_name }} </p>
            <div class="w3-light-grey">
                <div class="w3-container w3-green w3-center" style="width:40%">{{ s.point }}</div>
            </div><br>
        {% endfor %}

        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
    </div>

{% endblock %}