{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron" id="domains">
        <h1 class="display-3">Domains</h1>

        <ul class="list-group">
            {% for d in domains %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ d.name }}
                    <span class="badge badge-primary badge-pill">{{ d.point }}</span>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="jumbotron" id="subtypes">
        <h1 class="display-3">Subtypes</h1>

        <ul class="list-group">
            {% for s in subtypes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ s.min_interval }}  -- {{ s.max_interval }}
                    <span class="badge badge-primary badge-pill">{{ s.pts }}</span>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock %}