{% extends 'base.html' %}


{% block content %}

    <div class="jumbotron">
        {% csrf_token %}
        <p> Add Domain </p>
        <form id="domainadding">
            {% csrf_token %}
            {{ domainformset }}
            <input type="submit" class="btn btn-primary" value="Add Domain"/>
        </form>
    </div>

    <div class="jumbotron" id="domainslistdiv">
        <h1 class="display-3">Domains</h1>
        {% for d in domains %}
            <p > {{ d.name }} </p>
            <div class="w3-light-grey">
                <div class="w3-container w3-green w3-center" style="width:40%" aria-valuemin="3"
                     aria-valuemax="100" id={{ d.domain_id }}>{{ d.point }}</div>
            </div><br>
        {% endfor %}

        <a class="btn btn-primary btn-lg" role="button" onsubmit="">Submit</a>
    </div>

    <div class="jumbotron" id="subtypes">
        <h1 class="display-3">Subtypes</h1>

        {% for s in subtypes %}
            <p> {{ s.domain_name }} </p>
            <div class="w3-light-grey">
                <div class="w3-container w3-green w3-center" style="width:40%">{{ s.point }}</div>
            </div><br>
        {% endfor %}

        <a class="btn btn-primary btn-lg" href="#" role="button">Submit</a>
    </div>

    <script>
        $("#domainadding").submit(function (e) {
            /*
           Adding domain will refresh Domain List and also related subtype choicable objects
           if exists
            */

            // preventing from page reload and default actions
            e.preventDefault();

            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'domains-create' %}",
                data: serializedData,
                success: function (response) {
                    // on successfull creating object
                    // 1. clear the form.
                    console.log("Succeeded");
                    var domains_refreshed = response.valueOf('domains');

                    $('domainslistdiv').load();

                }
            })
        })
    </script>
{% endblock %}