{% extends 'risk_analysis/environs/modals/modalbase.html' %}

{% block content %}

    {% include "risk_analysis/environs/modals/_modal.html" %}

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <p>Create, Read, Update and Delete Domains.</p>

                <div class="row">
                    <div class="col-12 mb-3">
                        <button id="create-domain" class="btn btn-primary" type="button" name="button">
                            <span class="fa fa-plus mr-2"></span>Create Domain
                        </button>
                        <button id="filter-domain" class="bs-modal btn btn-primary" type="button" name="button"
                                data-form-url="{% url 'filter_domain' %}">
                            <span class="fa fa-filter mr-2"></span>Filter Domains
                        </button>
                    </div>
                    <div class="col-12 mb-3">
                        {% if domains %}
                            {% include "risk_analysis/environs/modals/_domains_table.html" %}
                        {% else %}
                            <p class="no-books text-primary">No domains added yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript">
        $(function () {

            // Create book button opens modal with id="create-modal"
            $("#create-domain").modalForm({
                formURL: "{% url 'create_domain' %}",
                modalID: "#create-modal"
            });

            var asyncSuccessMessage = [
                "<div ",
                "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
                "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
                "Success: Domain was updated.",
                "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
                "<span aria-hidden='true'>&times;</span>",
                "</button>",
                "</div>",
                "<script>",
                "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
                "<\/script>"
            ].join("");

            function updateDomainModalForm() {
                $(".update-domain").each(function () {
                    $(this).modalForm({
                        formURL: $(this).data("form-url"),
                        asyncUpdate: true,
                        asyncSettings: {
                            closeOnSubmit: false,
                            successMessage: asyncSuccessMessage,
                            dataUrl: "domains/",
                            dataElementId: "#domain-table",
                            dataKey: "table",
                            addModalFormFunction: updateDomainModalForm
                        }
                    });
                });
            }

            updateDomainModalForm();

            // Read and Delete book buttons open modal with id="modal"
            // The formURL is retrieved from the data of the element
            $(".bs-modal").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});
            });

            // Hide message
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
        });
    </script>
{% endblock extrascripts %}
