{% extends 'base.html' %}

{% block content %}

    {% for ch in data %}
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Firm full name</th>
                            <th>Limit</th>
                            <th>Birth place</th>
                            <th>Warrant state</th>
                        </tr>

                        <tr>
                            <td>{{ checkaccount.firm_full_name }}</td>
                            <td>{{ checkaccount.limit }}</td>
                            <td>{{ checkaccount.birthplace }}</td>
                            <td>{{ checkaccount.warrant_state }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}