{% extends 'base.html' %}

{% block content %}

    <button type="button" class="btn btn-primary btn-lg btn-block">Ones exceeds limit</button>

    <button type="button" class="btn btn-primary btn-lg btn-block">Ones exceeds maturity</button>

    <button type="button" class="btn btn-primary btn-lg btn-block">Worst period velocity</button>

    <button type="button" class="btn btn-primary btn-lg btn-block">Ones have Debts</button>

    <button type="button" class="btn btn-primary btn-lg btn-block">Black lists</button>

    <button type="button" class="btn btn-primary btn-lg btn-block">Recent customers</button>

{% endblock %}