{% extends 'base.html' %}
{% block content %}
    <body>
    <a href="/risk_analysis/create" class="btn btn-primary btn-lg btn-block" role="button">Create Dataset for Risk Analysis</a>

    <a href="/risk_analysis/retrieve" class="btn btn-primary btn-lg btn-block" role="button">Retrieve Dataset for Risk Analysis</a>

    <a href="/risk_analysis/create/importsgkdata" class="btn btn-primary btn-lg btn-block" role="button">Import SGK Dataset for Risk Analysis</a>

    <a href="/risk_analysis/retrieve/sgkdata" class="btn btn-primary btn-lg btn-block" role="button">Retrieve SGK Dataset for Risk Analysis</a>

    <a href="/risk_analysis/create/importtaxdata" class="btn btn-primary btn-lg btn-block" role="button">Import TAX Dataset for Risk Analysis</a>

    <a href="/risk_analysis/retrieve/taxdata" class="btn btn-primary btn-lg btn-block" role="button">Retrieve TAX Dataset for Risk Analysis</a>

    <a href="/risk_analysis/points" class="btn btn-primary btn-lg btn-block" role="button"> Retrieve Points for Risk Analysis</a>

    <br>

    <a href="/risk_analysis/analyze" class="btn btn-primary btn-lg btn-block" role="button"> Analyze Risk Data </a>

    <br> <br>
    </body>
{% endblock %}