{% extends 'base.html' %}

{% block content %}

    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form.as_table }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
    <br>

    {% for data in filter.qs %}

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm table-hover">
                        <a href="{% url 'get-riskds' pk=data.pk %}"
                           class="btn btn-primary btn-sm">
                            Get Detail
                        </a>
                        <tr>
                            <th> İlişkili Müşteri</th>
                            <th> Oluşturulma zamanı</th>
                            <th> Analiz Puanı </th>
                        </tr>

                        <tr>
                            <td>{{ data.customer }}</td>
                            <td>{{ data.created_date }}</td>
                            <td>{{ data.analyzed_pts }}</td>
                        </tr>

                    </table>
                    <a href="{% url 'analyze-one' pk=data.pk %}"
                       class="btn btn-primary btn-sm">
                        Analyze This !
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}