{% extends 'base.html' %}

{% block content %}

    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form.as_table }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

    </div>
    <br>

    {% for data in filter.qs %}

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm table-hover">
                        <tr>
                            <th> İlişkili Müşteri</th>
                            <th> İç Müşteri Sıra No </th>
                            <th> Limit</th>
                            <th> Teminat Durumu </th>
                            <th> Teminat Tutarı </th>
                            <th> Vade </th>
                            <th> Ödeme Sıklığı </th>
                            <th> Ortalama Gecikme Gün Bakiyesi </th>
                            <th> Son 12 ay ortalama sipariş tutarı </th>
                            <th> Son 3 ay ortalama sipariş tutarı </th>
                            <th> Son 3 ay ile son 11 aylık satış ortalamasından sapma </th>
                            <th> Son ay iade yuzdesi </th>
                            <th> Son 12 ay iade yüzdesi </th>
                            <th> Son 3 ay iade yuzdesi </th>
                            <th> Son 3 ay ile son 11 aylık iade %si karşılaştırması </th>
                            <th> Ortalama gecikme gun sayisi </th>
                            <th> Ortalama gecikme gun bakiyesi </th>
                            <th> Devir günü</th>
                            <th> Devir hızı</th>
                            <th> Teminat harici Bakiye - Risk</th>
                            <th> Bakiye </th>
                            <th> Kâr </th>
                            <th> Kâr Yüzdesi </th>
                            <th> Çek dahil toplam risk</th>
                            <th> Son 12 aylık toplam ciro </th>
                            <th> Oluşturulma zamanı </th>

                        </tr>

                        <tr>
                            <td>{{ data.related_customer }}</td>
                            <td>{{ data.internal_customer_id }}</td>
                            <td>{{ data.limit }}</td>
                            <td>{{ data.warrant_state }}</td>
                            <td>{{ data.warrant_amount }}</td>
                            <td>{{ data.maturity }}</td>
                            <td>{{ data.payment_frequency }}</td>
                            <td>{{ data.maturity_exceed_avg }}</td>
                            <td>{{ data.avg_order_amount_last_twelve_months }}</td>
                            <td>{{ data.avg_order_amount_last_three_months }}</td>
                            <td>{{ data.last_3_months_aberration }}</td>
                            <td>{{ data.last_month_payback_perc }}</td>
                            <td>{{ data.last_twelve_months_payback_perc }}</td>
                            <td>{{ data.avg_last_three_months_payback_perc }}</td>
                            <td>{{ data.last_three_months_payback_comparison }}</td>
                            <td>{{ data.avg_delay_time }}</td>
                            <td>{{ data.avg_delay_balance }}</td>
                            <td>{{ data.period_day }}</td>
                            <td>{{ data.period_velocity }}</td>
                            <td>{{ data.risk_excluded_warrant_balance }}</td>
                            <td>{{ data.balance }}</td>
                            <td>{{ data.profit }}</td>
                            <td>{{ data.profit_percent }}</td>
                            <td>{{ data.total_risk_including_cheque }}</td>
                            <td>{{ data.last_12_months_total_endorsement }}</td>
                            <td>{{ data.created }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}