<table id="subtypes-table" class="table">
    <thead>
    <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Domain</th>
        <th class="text-center" scope="col">Sub Point</th>
        <th class="text-center" scope="col">Min interval</th>
        <th class="text-center" scope="col">Max interval</th>
        <th class="text-center" scope="col">Read / Update / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for s in subtypes %}
        <tr>
            <th class="text-center" scope="row">{{ forloop.counter }}</th>
            <td class="text-center">{{ s.domain_name }}</td>
            <td class="text-center">{{ s.pts }}</td>
            <td class="text-center">{{ s.min_interval }}</td>
            <td class="text-center">{{ s.max_interval }}</td>
            <td class="text-center">
                <!-- Read domain buttons -->
                <button type="button" class="bs-modal read-book btn btn-sm btn-primary"
                        data-form-url="{% url 'read-subtype' s.pk %}">
                    <span class="fa fa-eye"></span>
                </button>
                <!-- Update domain buttons -->
                <button type="button" class="update-subtype btn btn-sm btn-primary"
                        data-form-url="{% url 'update-subtype' s.pk %}">
                    <span class="fa fa-pencil"></span>
                </button>
                <!-- Delete domain buttons -->
                <button type="button" class="bs-modal delete-subtype btn btn-sm btn-danger"
                        data-form-url="{% url 'delete-subtype' s.pk %}">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>